<div class="box-ver-talk mb-5">

    <div class="row mb-5">
        <div class="col-12">
            <h6 class="mb-3 fw-semibold">Visión de la Agencia</h6>
            <p class="text-white m-0 fw-semibold">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
        </div>
    </div>

    <iframe src="https://www.youtube.com/embed/S9-WnNYe3E4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


</div>