
<figure class="imghvr-fold-up" data-aos="fade-up">

    <app-rating (click)="addFavorities( documento.id )"></app-rating>

    <div class="card border-0 text-decoration-none">
        <div class="card-head d-flex justify-content-center align-items-center">
            <img src="./../../../../assets/icon-pdf.svg" class="icon" [alt]="documento.nombre">
        </div>
        <div class="card-body">
            <h5 class="card-title text-white fw-light fs-6"> {{ documento.nombre }} </h5>
        </div>
    </div>
    
    <figcaption>
        <a class="box-download" [href]="documento.link" target="blank" download>
            <h6 class="fw-semibold">Descargar</h6>
            <img class="arrow" src="./../../../../assets/arrow-circle.svg" alt="arrow-circle">
        </a>
    </figcaption>

</figure>