.card-test {
    height: 240px;
    position: relative;
    border: 2px solid #101010;
    background-color: #101010;
    transition-duration: .3s;
}

.card-test:hover {
    border: 2px solid #FF0065;
}

.card-test .btn {
    position: absolute;
    border-radius: 30px;
    border: 1px solid #fff;
    font-size: 14px;
    width: 170px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -20px;
    left: calc(50% - 85px);
    background: #303030;
    background: linear-gradient(90deg, rgba(48, 48, 48, 1) 0%, rgba(48, 48, 48, 1) 100%);
    color: #fff;
}

.card-test:hover .btn {
    border: 2px solid #FF0065;
    background: rgb(255,0,101);
    background: linear-gradient(90deg, rgba(255,0,101,1) 0%, rgba(252,92,24,1) 100%);
}

.card-test .card-header .icon-info {
    width: 20px;
}

.card-test .card-footer {
    border-top: 1px solid #cccccc2e;
}

.card-test .card-footer p {
    font-style: italic;
}

.card-test h5 {
    font-size: 16px;
}

.card-test .estado {
    font-size: 14px;
}

