<div class="card card-test mb-5" data-aos="fade-up">

    <div class="card-header text-white fw-semibold p-2">

        <div class="box-progressbar mb-3">
            <progressbar [max]="100" [value]="80" type="danger" [striped]="true" [animate]="true"><i>80 / 100</i></progressbar>
        </div>

        <div class="d-flex align-items-center estado">
            <img class="icon-info me-2" src="./../../../../assets/icon-info.svg">
            Aún no has iniciado tu curso
        </div>

    </div>
    
    <div class="card-body d-flex justify-content-center align-items-center">
        <h5 class="card-title text-white fw-semibold"> {{ test.nombre }} </h5>
    </div>

    <div class="card-footer pt-3 pb-5 mx-2">
        <p class="m-0 text-white fw-light text-center">Comienza tu test</p>
    </div>

    <a [routerLink]="['/test', test.id]" class="btn">Responder</a>

</div>