.offcanvas-notifications {
    width: 100%;
    height: fit-content;
    max-width: 430px;
    margin-top: 70px;
    background-color: #000;
    border-radius: 10px;
}

.offcanvas-notifications .miniatura {
    width: 80px;
    height: 80px;
}

.offcanvas-notifications h5 {
    font-size: 16px;
}

.offcanvas-notifications h6 {
    font-size: 12px;
}

.offcanvas-notifications .notificacion {
    transition-duration: .3s;
    border-bottom: 1px solid #2424248c;
}

.offcanvas-notifications .notificacion:hover {
    color: #fff;
    text-decoration: underline !important;
}

@media (max-width: 430px) {

    .offcanvas-notifications {
        margin-top: 70px;
        border-radius: 0;
    }

}
